services:
  dev:
    build: .
    container_name: pixelify-dev
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "5173:5173"
    command: bash -c "cd pixelify_web && npm run dev -- --host 0.0.0.0"
